<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DnsClient" version="1.0.7" targetFramework="net46" />
  <package id="Dynamitey" version="2.0.8-beta122" targetFramework="net46" />
  <package id="ImpromptuInterface" version="7.0.1-beta40" targetFramework="net46" />
  <package id="MongoDB.Bson" version="2.5.0" targetFramework="net46" />
  <package id="MongoDB.Driver" version="2.5.0" targetFramework="net46" />
  <package id="MongoDB.Driver.Core" version="2.5.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net46" />
  <package id="System.Buffers" version="4.5.0-preview1-26216-02" targetFramework="net46" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net46" />
  <package id="Unity.Newtonsoft.Json" version="7.0.0.0" targetFramework="net46" />
</packages>